<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <h1>Buster's Best Bowling Alley</h1> 
#displays the name of the bowling alley in an h1 tag
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
#displays the bowling alley tagline in an h2
        <p>97 Bowling Alley Lane, Boulder CO </p>
#displays the bowling alley address in a p tag
    </body>
</html>