<!DOCTYPE html>
<html>
    <head>
        <title>Name</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>

<!DOCTYPE html>
<html>
    <head>
        <title>Tagline</title>
    </head>
    <body>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>This is the info page: here's some information about the bowling alley.</p>
    </body>
</html>


<!DOCTYPE html>
<html>
    <head>
        <title>Address</title>
    </head>
    <body>
        <h2>Address</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>