<!DOCTYPE html>
<html>
    <head>
        <title>Tagline</title>
    </head>
    <body>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>This is the info page: here's some information about the bowling alley.</p>
    </body>
</html>


